.animate {
  /* animation: animation 2s forward; */
  animation-name: animation;
  animation-duration: 700ms;
  animation-direction: normal;
  /* top: 80%; */
}

@keyframes animation {
  0% {
    top: 80%;
    /* background-color: red; */
  }
  100% {
    top: 30%;
    /* background-color: yellow; */
  }
}
